@font-face {

    font-family: 'Inter';

    font-weight: normal;

    font-style: normal;

    font-variant: normal;

    src: url("https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7SUc.woff2") format('truetype');

}

* {
    font-family: DejaVu Sans, sans-serif;
}

@page {
    size: letter;
    margin-top: 25px;
    margin-bottom: 25px;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}


table {
    width: 100%;
    border-collapse: collapse;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>tfoot>tr>td {
    border: 1px solid #ccc;
    padding: 6px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}