@import 'tailwindcss';


@theme {
    --font-display: 'Inter', sans-serif;

    --breakpoint-sm: 600px;
    --breakpoint-md: 728px;
    --breakpoint-lg: 920px;
    --breakpoint-xl: 980px;
    --breakpoint-2xl: 1320px;
    --breakpoint-3xl: 1536px;

    --color-primary-50: #eefbf4;
    --color-primary-100: #d5f6e2;
    --color-primary-200: #afebc9;
    --color-primary-300: #7bdaab;
    --color-primary-400: #45c288;
    --color-primary-500: #21a06a;
    --color-primary-600: #158658;
    --color-primary-700: #116b4a;
    --color-primary-800: #10553c;
    --color-primary-900: #0e4632;
    --color-primary-950: #07271d;
}

[x-cloak] {
    display: none;
}

.page-title {
    @apply text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight;
}

.btn-primary {
    @apply inline-flex items-center rounded-lg bg-primary-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 cursor-pointer;
}

.btn-secondary {
    @apply inline-flex items-center rounded-lg bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50;
}

.record-table {
    @apply min-w-full divide-y divide-gray-300;
}

.record-table thead {
    @apply bg-gray-50;
}

.record-table th {
    @apply px-3 py-3.5 text-left text-sm font-semibold text-gray-900;
}

.record-table tbody {
    @apply divide-y divide-gray-200 bg-white;
}

.record-table td {
    @apply whitespace-nowrap px-3 py-4 text-sm text-gray-600;
}

.link-primary {
    @apply text-primary-600 hover:text-primary-900;
}

.link-danger {
    @apply text-red-600 hover:text-red-900;
}


.control-label {
    @apply block text-sm/6 font-medium text-gray-600;
}

.form-control {
    @apply block w-full rounded-lg bg-white px-3 py-2 text-base text-gray-900 outline -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600;
}

.is-invalid {
    @apply !outline-red-600;
}

.form-select {
    @apply w-full appearance-none rounded-lg bg-white py-2 pl-3 pr-8 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6;
}

.form-radio {
    @apply relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-primary-600 checked:bg-primary-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden [&:not(:checked)]:before:hidden;
}