@import 'tailwindcss';
@plugin "@tailwindcss/typography";


@theme {
    --font-display: 'Inter', sans-serif;
    --font-display2: 'DM Sans', sans-serif;

    --breakpoint-sm: 600px;
    --breakpoint-md: 728px;
    --breakpoint-lg: 920px;
    /* --breakpoint-xl: 980px; */
    --breakpoint-2xl: 1320px;
    --breakpoint-3xl: 1536px;

    --color-primary-50: #f5fce9;
    --color-primary-100: #e8f8cf;
    --color-primary-200: #d2f1a5;
    --color-primary-300: #b3e670;
    --color-primary-400: #95d744;
    --color-primary-500: #80cc28;
    --color-primary-600: #5a9719;
    --color-primary-700: #467318;
    --color-primary-800: #3a5b19;
    --color-primary-900: #324e19;
    --color-primary-950: #182b08;

}

@utility container {
    margin-left: auto;
    margin-right: auto;
    padding: 0rem;
}

[x-cloak] {
    display: none;
}

:root {
    --gray-white: #FFFFFF;
    --gray-black: #272343;
    --dark-gray: #636270;
    --off-white: #F0F2F3;
    --warning: #F5813F;
    --success: #01AD5A;
}

.form-control {
    @apply block w-full rounded-lg bg-gray-50 py-4 px-6 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:pr-9 sm:text-sm/6;
}

.is-invalid {
    @apply !outline-red-600;
}

.form-checkbox {
    @apply appearance-none rounded-sm border border-gray-300 bg-white checked:border-primary-600 checked:bg-primary-600 indeterminate:border-primary-600 indeterminate:bg-primary-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto;
}

.form-radio {
    @apply relative size-5 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-primary-600 checked:bg-primary-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden;
}

.btn-primary {
    @apply flex justify-center rounded-md cursor-pointer bg-primary-600 px-3 py-3 font-semibold text-white shadow-xs hover:bg-primary-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600;
}

.record-table {
    @apply min-w-full divide-y divide-gray-300;
}

.record-table th {
    @apply px-3 py-3.5 text-left text-base font-semibold text-gray-900;
}

.record-table tbody {
    @apply divide-y divide-gray-200 bg-white;
}

.record-table td {
    @apply whitespace-nowrap px-3 py-4 text-base text-gray-600;
}

.swiper-pagination-bullet {
    @apply !bg-primary-600;
}

.gallery-thumb {
    .swiper-wrapper {
        @apply !block mx-2 px-2;

        .swiper-slide {
            @apply opacity-50 !inline-block !w-20 m-1 p-1 mx-auto rounded-md !aspect-square overflow-hidden;

            img {
                @apply block object-contain w-18 rounded-md;
            }
        }

        .swiper-slide-thumb-active {
            @apply opacity-100 ring-2 ring-primary-600;

        }
    }
}